@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  direction: rtl;
  font-family: "Rubik", sans-serif;
  background-color: #D8E5E5;
  margin: 0;
  padding: 0;
  color: #cf1c71;
}

section {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
}

section.problems-section {
  padding: 0 !important;
  max-width: 100% !important;
  margin: 0 !important;
}

section p {
  line-height: 1.6;
}

section h2 {
  margin-bottom: 1rem;
}
