@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  direction: rtl;
  font-family: "Rubik", sans-serif;
  width: 100%;
  background-color: #d8e5e5;
  margin: 0;
  padding: 0;
  color: #cf1c71;
}

section {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
}

section p {
  line-height: 1.6;
}

section h2 {
  margin-bottom: 1rem;
}
