@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  direction: rtl;
  font-family: "Rubik", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #222;
}

section {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
