section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heartKey {
  display: block;
  max-width: 100%;
  margin: -12rem auto;
}

h3,
p {
  text-align: right;
  font-weight: normal;
}

h3 {
  font-size: 30px;
}

@media (max-width: 768px) {
  #heartKey {
    width: 200%;
    margin-top: -18rem;
    margin-bottom: -18rem;
    margin-right: -7.75rem;
  }
}
