@font-face {
  font-family: "GveretLevin";
  src: url("../assets/fonts/GveretLevin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alignRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signature {
  font-family: GveretLevin, sans-serif;
}

#heartKey {
  display: block;
  max-width: 100%;
  margin: -12rem auto;
}

h3,
p {
  text-align: right;
  font-weight: normal;
}

h3 {
  font-size: 16px;
}

@media (max-width: 768px) {
  #heartKey {
    width: 100%;
    margin: -8rem auto;
  }
}
